<div class="md-padding">
    <p>Selecione um herói abaixo:</p>
    <md-radio-group ng-model="$ctrl.heroSelected">
        <div layout="row" layout-align="space-around center">
            <md-radio-button ng-repeat="hero in $ctrl.heroes" ng-value="hero" aria-label="hero">
                <div layout="column" layout-align="center center">
                    <img id="image" src="{{hero.getImage()}}" />
                    </br>
                    <div>{{hero.getName()}}</div>
                </div>
            </md-radio-button>
        </div>
    </md-radio-group>
    <div ng-if="$ctrl.heroSelected">
        <p>Algumas das histórias em que ele está presente são:</p>
        <div layout="row" layout-align="center center">
            <div ng-repeat="comic in $ctrl.heroSelected.getComics()">
                <md-card id="card">
                    <img src="{{comic.getImage()}}" />
                    <md-card-title>
                        <md-card-title-text>
                            <span>{{comic.getTitle()}}</span>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>
            </div>
        </div>
    </div>
</div>