#toolbar {
    background-color: #FF0000 !important;
}

#logo {
    width: 100px !important;
}

#image {
    background-color: #aaa;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}